{{define "main"}}
<h2>Contacts Form</h2>

<form method="post" action="/api/v1/contacts">

    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{.Contact.Name}}">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{.Contact.Email}}">
    </div>

    <div>
        <label for="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" value="{{.Contact.Phone}}">
    </div>

    <div style="display: flex; justify-content: space-between; width: 20%;">
        <button type="submit">Save</button>
        
        {{if .Contact.ID}}
            <button type="button"><a href="/dcontacts?id={{.Contact.ID}}">Delete</a></button>
        {{end}}
    </div>
</form>

{{end}}