{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <style>
        table, table tr th, table tr td{
            border: 1px solid #000;
            border-collapse: collapse;
        }

        form .inline-element{
            display: inline;
        }
    </style>
</head>
<body>
    <main>
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}