{{define "main"}}
    <div class="wrapper">
        {{if .Contact.ID}}
            <h2>Edit {{.Contact.Name}}</h2>
        {{else}}
            <h2>New Contact</h2>
        {{end}}

        <p>
            <a href="/contacts">Return to List</a>
        </p>

        <div>
            <fieldset>
                <legend>General Information</legend>
                <form method="post" action="/api/v2/contacts">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" value="{{.Contact.Name}}">
                    </div>

                    <div>
                        <label for="pix_key">Pix Key:</label>
                        <input type="text" name="pix_key" id="pix_key" value="{{.Contact.PixKey}}">
                    </div>

                    <div>
                        <label for="relationship_id">Relation:</label>
                        {{$global := .Contact}}
                        <select name="relationship_id" id="relationship_id">
                            {{range .Relationships}}
                                {{if eq $global.RelationshipID .ID}}
                                    <option value="{{.ID}}" selected>{{.Name}}</option>
                                {{else}}
                                    <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            {{end}}
                        </select>
                    </div>
                    
                    <div>
                        <button type="submit">Save</button>
                    </div>
                </form>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>Contact Details</legend>
                <form method="post" action="/api/v2/contacts/{{.Contact.ID}}/details">
                    <div class="inline-element">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email">
                    </div>

                    <div class="inline-element">
                        <label for="phone">Phone:</label>
                        <input type="tel" name="phone" id="phone">
                    </div>

                    <div class="inline-element">
                        <label for="type">Type:</label>
                        <select name="type" id="type">
                            {{range .Types}}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>

                    <div>
                        <button type="submit">Save</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
{{end}}